page-admin-customer-comments {
    .addItemWrapper{
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75vw;
        max-height: 85vh;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        background:white;
        padding:30px;
        overflow:auto;
    }
    .scroll-content{
        display: flex;
        justify-content: center;  
    }
    
}
