page-home-product-detail {
    .punchingLabel{
        font-family:'Roboto Slab', serif;
        font-size: 3.5rem;
        color: yellowgreen;
      }
      .detailContent{
        font-size: 1.5rem;
      }
      ion-slide{
        width: 100% !important;
        height: 100% !important;
    }
}
